@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Barberpoles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  border-width: medium;
  /* border: blue 3px solid; */
  border-radius: 9px;

  
}
body,
html {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpxyQCghDrXsEdfqdz0QBiYGg4uSG9C6-4aNhqKpP7SEUVSL0a");
}
#header {
  font-size: 90px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blue;
}
.mainImg {
  height: 500px;
  width: 800px;
  justify-content: center;
  border-width: medium;
  border: black 3px solid;
  border-radius: 9px;
}
::placeholder {
  color: black;
}
#header:hover {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out 0s;
}
.headerImg{
  border-radius: 0px;
  border:3px solid black;
  
}
